@{
    var userPlaylists = ViewBag.Playlists as IEnumerable<Technotheek.net_Core.Models.Playlist>;
}

@{
    var Playlists = "Playlists";
}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Playlists)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in userPlaylists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Open", "Open", "Customer", new { selectedPlaylist = item.Name }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>